:root {
    --text-color: #333;
    --base-color: rgb(114,161,229);
}

 body, .row {
     background-color: #F5F5F5;
 }

 a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    weight: 100%;
    height: 100%;
}



.bt {
    border-radius: 4px;
    background-color: #fff;
    min-width: 142px;
    height: 32px;
    border: none;
    font-size: 1.6rem;
    padding: 6px 6px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.bt.btn-prime {
    background-color: var(--base-color);
    color: #fff;
}

.flex-run {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
