.sort {
    background-color: #ededed;
    display: flex;
    height: 48px;
    align-items: center;
    padding: 22px;
    border-radius: 2px;
}

.sort-btn {
    min-width: 90px;
    margin-right: 12px;
    font-size: 1.4rem;

}

.sort-heading {
    margin-right: 32px;
    font-size: 1.5rem;
    font-weight: 500;
}

.name-text {
    height: 3.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

 .book-item{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    margin: 0.9rem 0;
 }

.book-item:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
    z-index: 1;
 }

 .item-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 }


.item-buttons a{
    display: block;
    width: 70%;
    line-height: 20px;
    font-size: 16px;
    margin: 4px 0;
    border-radius: 16px;
    background-color: rgb(245,61,45);
    color: white;
 }

.item-buttons a:hover{
    width: 75%;
    font-size: 18px;
    background-color: red;
    color: white;
 }

 .price_input {
    font-size: 1.4rem;
    font-weight: 500;
    border: 2px;
    margin: 2px;
    height: 28px;
    border-radius: 4px;
    width: 125px;
}

.price_input:focus {
    border-color: blue;
    outline: none;
    box-shadow: 0 0 0 0.1rem blue;
}

.price_find {
    margin-right: 12px;
    margin-left: 20px;
}

#content i {
    padding-left: 8px;
    font-size: 20px;
}

#content i:hover {
    color: var(--base-color);
}

.login-button {
    background-color: var(--base-color);
    color:white;
}

.algin-form-center {
    display: flex;
    justify-content: center;
    algin-items:center;
    width: 100%;
    margin-bottom: 60px;
}

.authen {
    width : 30%;
    border-radius : 4px;
    border : 3px solid var(--base-color);
    padding : 16px;
    display: flex;
    flex-direction: column;
    algin-items: space-between;
}

.authen .form-group{
    margin-bottom: 14px;
}

.authen label{
    font-size: 18px;
}

.authen input{
    font-size: 16px;
    margin-bottom: 6px;
}

.authen .login-button{
    margin-top: 12px;
}

.authen a {
    display: inline-block;
    color: blue;
    font-weight: 600;
}

.detail_img {
    width: 250px;
    height: 400px;
}

.detail-img_container {
   display: flex;
   justify-content: space-around;
}