
<div class="header-container">
    <div id="header" class="flex-run" style="font-size: 38px; color: white; font-weight: 700">
        <div>
          {% if current_user.is_authenticated%}
          Xin Chào <span>CAO NGỌC HIẾU</span>
          {% endif %}
          </div>
        <div style="display: flex; width: 30%; justify-content: space-around">
            <div onclick="alert('Tính năng đang phát triển, Vui lòng thử lại sau!!!')" class="user-info-expand login-btn">Các đơn nhập sách</div>
            {% if current_user.is_authenticated%}
                <div class="login-btn user-info">
                    {% if current_user.avatar %}
                        <img src="{{ current_user.avatar }}" style="margin-right: 4px; border-radius: 50%" width="20px" height="20px" alt="{{ current_user.username }}">
                    {% else %}
                        <img width="20px" height="20px" src="{{ url_for('static', filename='images/flask.png') }}" class="rounded-circle" style="margin-right: 4px;" alt="{{ current_user.username }}">
                    {% endif %}
                        {{ current_user.name }}

                    <div class="user-info-expand">
                        <div>
                            <span class="user_info" onclick="alert('Tính năng đang phát triển, Vui lòng thử lại sau!!!')">Thông tin cá nhân</span>
                            <a href="{{url_for('user_signout')}}" class="user_logout">Đăng xuất</a>
                        </div>

                    </div>

                </div>
            {% else %}
                <a href="{{url_for('signin_inventory')}}" class="login-btn">Đăng nhập</a>
            {% endif %}
        </div>
    </div>
</div>