<!--   FOOTER    -->
    <footer>
        <div class="container">
            <div class="col-lg-12">
                <ul class="footer-list">
                    <li>
                        <a href="" class="footer-list-item">
                            <i class="list-item-icon fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="footer-list-item">
                            <i class="list-item-icon fab fa-instagram-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="footer-list-item">
                            <i class="list-item-icon fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <ul class="footer-list">
                    <li>
                        <a href="" class="footer-list-item">
                            Bootstrap
                        </a>
                    </li>
                    <li>
                        <a href="" class="footer-list-item">
                            Flask
                        </a>
                    </li>
                    <li>
                        <a href="" class="footer-list-item">
                            Python
                        </a>
                    </li>
                    <li>
                        <a href="" class="footer-list-item">
                            Software Engineer
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copy-right">Book Store ABC</div>
    </footer>
<!--   END FOOTER-->