<!--    HEADER-->
    <div class="header-container">
        <div id="header" class="flex-run">
            
            <a class="logo-shop header" style="
                display: flex;
                justify-content: right;
                align-items: center;
                padding-right: 42px;
                padding-bottom: 10px;"
                href="/">
                <img src="{{url_for('static', filename='images/logo.png')}}" style="width: 64px; height: 64px">
            </a>
<!--            <span class="logo-shop header" style="height: 30%">BOOK</span>-->

            <span class="header" >
                <form class="d-flex input-group" style="width: 500px; height: 40px; ">
                    <input
                      action="/"
                      name="keyword"
                      type="search"
                      class="form-control"
                      placeholder="Tìm kiếm sách"
                      aria-label="Search"
                      aria-describedby="search-addon"
                      autocomplete="off"
                    />
                    <button class="search__btn input-group-text" id="search-addon" type="submit">
                        <i class="search__btn-icon fas fa-search"></i>
                    </button>
                </form>
            </span>

            <span class="login-header">
                <div class="header__shop-cart">
                    <div class="header__shop-cart-wrap">
                        <a href="/">
                            <i class="shopping_icon fas fa-shopping-cart"></i>
                        </a>
                        <!-- <span class="cart-notice">3</span> -->
                    </div>
                </div>
                <a href="{{url_for('user_register')}}" class="login-btn">Đăng nhập</a>
            </span>

        </div>
    </div>
<!--    END HEADER-->