<!--    HEADER-->
    <div class="header-container">
        <div id="header" class="flex-run">
            
            <a class="logo-shop header" style="
                display: flex;
                justify-content: right;
                align-items: center;
                padding-right: 42px;
                padding-bottom: 10px;"
                href="/">
                <img src="{{url_for('static', filename='images/logo.png')}}" style="width: 64px; height: 64px">
            </a>
<!--            <span class="logo-shop header" style="height: 30%">BOOK</span>-->

            <span class="header" >
                <form class="d-flex input-group" style="width: 500px; height: 40px; ">
                    <input
                      action="/"
                      name="keyword"
                      type="search"
                      class="form-control"
                      placeholder="Tìm kiếm sách"
                      aria-label="Search"
                      aria-describedby="search-addon"
                      autocomplete="off"
                    />
                    <button class="search__btn input-group-text" id="search-addon" type="submit">
                        <i class="search__btn-icon fas fa-search"></i>
                    </button>
                </form>
            </span>

            <span class="login-header">
                <div class="header__shop-cart">
                    <div class="header__shop-cart-wrap">
                        <a href="/">
                            <i class="shopping_icon fas fa-shopping-cart"></i>
                        </a>
                        <!-- <span class="cart-notice">3</span> -->
                    </div>
                </div>
                {% if current_user.is_authenticated%}
                    <div class="login-btn user-info">
                        {% if current_user.avatar %}
                            <img src="{{ current_user.avatar }}" style="margin-right: 4px; border-radius: 50%" width="20px" height="20px" alt="{{ current_user.username }}">
                        {% else %}
                            <img width="20px" height="20px" src="{{ url_for('static', filename='images/flask.png') }}" class="rounded-circle" style="margin-right: 4px;" alt="{{ current_user.username }}">
                        {% endif %}
                            {{ current_user.name }}

                        <div class="user-info-expand">
                            <div>
                                <span class="user_info" onclick="alert('Tính năng đang phát triển, Vui lòng thử lại sau!!!')">Thông tin cá nhân</span>
                                <a href="{{url_for('user_signout')}}" class="user_logout">Đăng xuất</a>
                            </div>

                        </div>

                    </div>
                {% else %}
                    <a href="{{url_for('user_signin')}}" class="login-btn">Đăng nhập</a>
                {% endif %}
            </span>

        </div>
    </div>
<script>

</script>
<!--    END HEADER-->