<!--    HEADER-->
    <div class="header-container">
        <div id="header" class="flex-run">

            <span class="logo-shop header">LOGO</span>

            <span class="header" >
                <form class="d-flex input-group" style="width: 500px; height: 40px; ">
                    <input
                      type="search"
                      class="form-control"
                      placeholder="Tìm kiếm sách"
                      aria-label="Search"
                      aria-describedby="search-addon"
                    />
                    <button class="search__btn input-group-text" id="search-addon">
                        <i class="search__btn-icon fas fa-search"></i>
                    </button>
                </form>
            </span>

            <span class="login-header">
                <div class="header__shop-cart">
                    <div class="header__shop-cart-wrap">
                        <i class="shopping_icon fas fa-shopping-cart"></i>
                        <!-- <span class="cart-notice">3</span> -->
                    </div>
                </div>
                <a href="/" class="login-btn">Đăng nhập</a>
            </span>

        </div>
    </div>
<!--    END HEADER-->