    {% block js %}
        <script src="../static/js/main.js"></script>
    {% endblock %}

<!-- RIGHT - NAVIGATION-->
<div id="navigation" class="col-lg-2">
    <div class="catagory">
        <h3 class="catagory__heading">
            <i class="catagory__heading-icon fas fa-list-ul"></i>
            Thể Loại
        </h3>
        <ul class="catagory__list">
                <li class="catagory__list-item {% if 'genre_id' not in request.args %} catagory__list-item--active {% endif %}">
                    <a href="/"> Tất cả sản phẩm </a>
                </li>
            {% for gen in genres %}
                <li class="catagory__list-item {% if 'genre_id' in request.args and gen.id == request.args.genre_id|int %} catagory__list-item--active {% endif %}" >
                    <a href="/?genre_id={{gen.id}}">{{gen.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
