    {% block js %}
        <script src="../static/js/main.js"></script>
    {% endblock %}

<!-- RIGHT - NAVIGATION-->
<div id="navigation" class="col-lg-2">
    <div class="catagory">
        <h3 class="catagory__heading">
            <i class="catagory__heading-icon fas fa-list-ul"></i>
            Thể Loại
        </h3>
        <ul class="catagory__list">
            {% if index == 0 %}
                <li class="catagory__list-item  catagory__list-item--active">
                    <a href="/"> Tất cả sản phẩm </a>
                </li>
            {% else %}
                <li class="catagory__list-item">
                    <a href="/"> Tất cả sản phẩm </a>
                </li>
            {% endif %}

            {% for gen in genres %}
                {% if index == gen.id %}
                    <li class="catagory__list-item catagory__list-item--active" >
                        <a href="/?genre_id={{gen.id}}">{{gen.name}}</a>
                    </li>
                {% else %}
                    <li class="catagory__list-item" >
                        <a href="/?genre_id={{gen.id}}">{{gen.name}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
