{% extends 'layout/layout.html' %}

{% block title %} Trang chủ {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/content.css')}}">
{% endblock %}


{% block content %}

    <div style="display: flex;" class="container">
    {% block navigation %}
        {% include 'layout/navigation.html' %}
    {% endblock %}
        <div id="content" class="col-lg-10">
            <div class="sort">
                <div class="sort-heading">Sắp xếp giá:</div>
                <a href="/?htl=0" class="sort-btn bt {% if 'htl' not in request.args or 'htl' in request.args and request.args.htl == '0' %} btn-prime {% endif %}">Thấp đến cao</a>
                <a href="/?htl=1" class="sort-btn bt {% if 'htl' in request.args and request.args.htl == '1' %} btn-prime {% endif %}">Cao đến thấp</a>

                <div style="background:transparent; width:200px; display:block"></div>

                <form action="/" method="get" style="display: flex; align-items: center;">
                    <div class="sort-heading price_find">Giá từ:</div>
                    <input type="text" class="price_input" name="from_price">
                    <div class="sort-heading price_find" >Đến:</div>
                    <input type="text" class="price_input" name="to_price">

                    <button type="submit" style="border:none;">
                        <i class="search__btn-icon fas fa-search" ></i>
                    </button>
                </form>

            </div>


            {% if books %}
                <div class="row">
                    {% for b in books %}
                    <div class="col-md-3 col-sm-12">
                        <div class="card book-item" style="border: none;">
                            <img class="card-img-top" src="/static/{{ b.image }}" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title name-text">{{ b.name }}</h4>
                                <span style="font-size: 1.4rem">{{ b.author }}</span>
                                <p class="card-text text-danger" style="font-size:14px; font-weight:500;">{{ "{:,.1f}".format(b.price) }} ₫</p>
                                <span style="font-size: 1rem; color: var(--text-color);">Hàng tồn: {{ b.stock }}</span>
                                <div class="item-buttons">
                                    <a href="/books/{{ b.id }}" class="btn" style="background-color: var(--base-color)">Xem chi tiết</a>
                                    <a href="#" class="btn" >Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <h2 style="text-align: center;" class="text-danger" >Không có sản phẩm nào!</h2>
            {% endif %}

            {% if page > 1 %}
                <div class="pagetination" style="background-color: #F5F5F5;">
                    {% for idx in range(1, page+1) %}
                        <a href="/?page={{idx}}" class="pagetination-number {% if ( 'page' in request.args and idx == request.args.page|int ) or ( 'page' not in request.args and idx == 1) %} pagetination-number-active {% endif %}">{{idx}}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
